---
- name: Validate supported platform
  assert:
    that:
      - ansible_facts['os_family'] is defined
      - ansible_facts['os_family'] in ['RedHat', 'Debian']
    fail_msg: "cockpit_wrapper supports RedHat and Debian families only."

- name: Optionally include official cockpit system role
  when: use_system_role
  include_role:
    name: redhat.rhel_system_roles.cockpit
  vars:
    cockpit_packages: "{{ cockpit_packages }}"
    cockpit_enabled: "{{ cockpit_enabled }}"
    cockpit_started: "{{ cockpit_started }}"
    cockpit_config: "{{ cockpit_config }}"
    cockpit_port: "{{ cockpit_port }}"
    cockpit_manage_firewall: false
    cockpit_manage_selinux: false
    cockpit_transactional_update_reboot_ok: "{{ cockpit_transactional_update_reboot_ok }}"

- name: Optionally manage firewall for Cockpit
  when: cockpit_manage_firewall and ansible_facts['os_family'] == 'RedHat'
  include_role:
    name: redhat.rhel_system_roles.firewall
  vars:
    firewall:
      service: cockpit
      state: enabled

- name: Optionally manage SELinux port policy for Cockpit
  when: cockpit_manage_selinux and ansible_facts['os_family'] == 'RedHat'
  block:
    - name: Add SELinux port permission for cockpit_port
      command: semanage port -a -t http_port_t -p tcp {{ cockpit_port }}
      args:
        warn: false
      register: semanage_add
      failed_when: semanage_add.rc not in [0,1]
      changed_when: semanage_add.rc == 0

    - name: Ensure cockpit service is running after SELinux change
      service:
        name: cockpit
        state: restarted
      when: semanage_add.rc == 0
